In [3]:
!pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.12.2-py3-none-any.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 7.8 MB/s
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.8/dist-packages (from geopandas) (1.8.5.post1)
Collecting pyproj>=2.6.1.post1
  Downloading pyproj-3.4.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
     |████████████████████████████████| 7.8 MB 53.6 MB/s
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from geopandas) (21.3)
Collecting fiona>=1.8
  Downloading Fiona-1.8.22-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.6 MB)
     |████████████████████████████████| 16.6 MB 45.4 MB/s
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (2022.9.24)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (2022.6)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->geopandas) (3.0.9)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.22 geopandas-0.12.2 munch-2.5.0 pyproj-3.4.1

In [4]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [41]:
df1=gpd.read_file("altaiskii-krai.geojson")

WARNING:fiona.ogrext:Skipping field tags: invalid type 5
WARNING:fiona.ogrext:Skipping field nearby: invalid type 5
WARNING:fiona.ogrext:Skipping field weather: invalid type 5
WARNING:fiona.ogrext:Skipping field vehicles: invalid type 5
WARNING:fiona.ogrext:Skipping field participants: invalid type 5
WARNING:fiona.ogrext:Skipping field road_conditions: invalid type 5
WARNING:fiona.ogrext:Skipping field participant_categories: invalid type 5

In [42]:
df1.head(3)

,id,light,point,region,scheme,address,category,datetime,severity,dead_count,injured_count,parent_region,participants_count,geometry
0,2746180,"В темное время суток, освещение включено","{'lat': 53.369632, 'long': 83.795021}",Барнаул,500,"г Барнаул, ул Парфенова, 12",Столкновение,2022-08-12 21:45:00,Легкий,0,2,Алтайский край,3,POINT (83.79502 53.36963)
1,2746191,Светлое время суток,"{'lat': 53.343609, 'long': 83.680286}",Барнаул,070,"г Барнаул, тракт Павловский, 134",Столкновение,2022-08-09 18:10:00,Легкий,0,1,Алтайский край,3,POINT (83.68029 53.34361)
2,2311491,"В темное время суток, освещение отсутствует","{'lat': 53.342, 'long': 83.6903}",Барнаул,610,"г Барнаул, тракт Павловский, 249 а",Наезд на препятствие,2017-09-04 22:15:00,Легкий,0,1,Алтайский край,2,POINT (83.69030 53.34200)

In [44]:
zzz=pd.json_normalize(df1['point'])

In [45]:
df1['lat']=zzz['lat']
df1['long']=zzz['long']

In [47]:
df1.drop('point',axis=1,inplace=True)
df1.head(3)

,id,light,region,scheme,address,category,datetime,severity,dead_count,injured_count,parent_region,participants_count,geometry,lat,long
0,2746180,"В темное время суток, освещение включено",Барнаул,500,"г Барнаул, ул Парфенова, 12",Столкновение,2022-08-12 21:45:00,Легкий,0,2,Алтайский край,3,POINT (83.79502 53.36963),53.369632,83.795021
1,2746191,Светлое время суток,Барнаул,070,"г Барнаул, тракт Павловский, 134",Столкновение,2022-08-09 18:10:00,Легкий,0,1,Алтайский край,3,POINT (83.68029 53.34361),53.343609,83.680286
2,2311491,"В темное время суток, освещение отсутствует",Барнаул,610,"г Барнаул, тракт Павловский, 249 а",Наезд на препятствие,2017-09-04 22:15:00,Легкий,0,1,Алтайский край,2,POINT (83.69030 53.34200),53.342000,83.690300

In [48]:
df2=gpd.read_file("amurskaia-oblast.geojson")

WARNING:fiona.ogrext:Skipping field tags: invalid type 5
WARNING:fiona.ogrext:Skipping field nearby: invalid type 5
WARNING:fiona.ogrext:Skipping field weather: invalid type 5
WARNING:fiona.ogrext:Skipping field vehicles: invalid type 5
WARNING:fiona.ogrext:Skipping field participants: invalid type 5
WARNING:fiona.ogrext:Skipping field road_conditions: invalid type 5
WARNING:fiona.ogrext:Skipping field participant_categories: invalid type 5

In [49]:
zzz1=pd.json_normalize(df2['point'])

In [50]:
df2['lat']=zzz1['lat']
df2['long']=zzz1['long']

In [51]:
df2.drop('point',axis=1,inplace=True)
df2.head(3)

,id,light,region,scheme,address,category,datetime,severity,dead_count,injured_count,parent_region,participants_count,geometry,lat,long
0,2525237,"В темное время суток, освещение отсутствует",Бурейский район,840,"Прогресс – Бурея – Новобурейск, 24 км",Наезд на пешехода,2020-12-10 17:40:00,Легкий,0,1,Амурская область,2,POINT (129.84829 49.79657),49.796572,129.848292
1,2624862,Светлое время суток,Бурейский район,070,Р-297 Амур Чита - Невер - Свободный - Архара -...,Столкновение,2021-09-24 09:20:00,Легкий,0,2,Амурская область,3,POINT (129.90612 49.79877),49.798774,129.906120
2,2061566,Светлое время суток,Бурейский район,500,"пгт Новобурейский, ул Лесная, 27",Опрокидывание,2019-06-27 12:50:00,С погибшими,1,2,Амурская область,5,POINT (129.87793 49.79985),49.799854,129.877925

In [52]:
frames = [df1, df2]

In [53]:
result = pd.concat(frames)

In [54]:
result.head()

,id,light,region,scheme,address,category,datetime,severity,dead_count,injured_count,parent_region,participants_count,geometry,lat,long
0,2746180,"В темное время суток, освещение включено",Барнаул,500,"г Барнаул, ул Парфенова, 12",Столкновение,2022-08-12 21:45:00,Легкий,0,2,Алтайский край,3,POINT (83.79502 53.36963),53.369632,83.795021
1,2746191,Светлое время суток,Барнаул,070,"г Барнаул, тракт Павловский, 134",Столкновение,2022-08-09 18:10:00,Легкий,0,1,Алтайский край,3,POINT (83.68029 53.34361),53.343609,83.680286
2,2311491,"В темное время суток, освещение отсутствует",Барнаул,610,"г Барнаул, тракт Павловский, 249 а",Наезд на препятствие,2017-09-04 22:15:00,Легкий,0,1,Алтайский край,2,POINT (83.69030 53.34200),53.342000,83.690300
3,2589161,Светлое время суток,Барнаул,070,"г Барнаул, ул Малахова, 46",Столкновение,2021-06-29 16:45:00,Легкий,0,1,Алтайский край,3,POINT (83.70920 53.36970),53.369700,83.709200
4,2577125,"В темное время суток, освещение включено",Барнаул,940,"г Барнаул, А-322 Барнаул - Рубцовск - граница ...",Наезд на препятствие,2021-05-30 21:40:00,Тяжёлый,0,1,Алтайский край,1,POINT (83.72590 53.26499),53.264995,83.725905

In [55]:
df1.shape

(22563, 15)

In [56]:
df2.shape

(9664, 15)

In [57]:
result.shape

(32227, 15)

In [59]:
result.to_csv("1.csv")

In [63]:
qq=pd.read_csv("1.csv",index_col=0)
qq.head(5)

,id,light,region,scheme,address,category,datetime,severity,dead_count,injured_count,parent_region,participants_count,geometry,lat,long
0,2746180,"В темное время суток, освещение включено",Барнаул,500.0,"г Барнаул, ул Парфенова, 12",Столкновение,2022-08-12 21:45:00,Легкий,0,2,Алтайский край,3,POINT (83.795021 53.369632),53.369632,83.795021
1,2746191,Светлое время суток,Барнаул,70.0,"г Барнаул, тракт Павловский, 134",Столкновение,2022-08-09 18:10:00,Легкий,0,1,Алтайский край,3,POINT (83.680286 53.343609),53.343609,83.680286
2,2311491,"В темное время суток, освещение отсутствует",Барнаул,610.0,"г Барнаул, тракт Павловский, 249 а",Наезд на препятствие,2017-09-04 22:15:00,Легкий,0,1,Алтайский край,2,POINT (83.6903 53.342),53.342000,83.690300
3,2589161,Светлое время суток,Барнаул,70.0,"г Барнаул, ул Малахова, 46",Столкновение,2021-06-29 16:45:00,Легкий,0,1,Алтайский край,3,POINT (83.7092 53.3697),53.369700,83.709200
4,2577125,"В темное время суток, освещение включено",Барнаул,940.0,"г Барнаул, А-322 Барнаул - Рубцовск - граница ...",Наезд на препятствие,2021-05-30 21:40:00,Тяжёлый,0,1,Алтайский край,1,POINT (83.725905 53.264995),53.264995,83.725905